<div>
	<ul>
		<li>
			<div>
				<label>{{ user.knowledges.html.label }}</label>
				<knowledgelevels knowledge="user.knowledges.html"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ user.knowledges.css.label }}</label>
				<knowledgelevels knowledge="user.knowledges.css"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ user.knowledges.javascript.label }}</label>
				<knowledgelevels knowledge="user.knowledges.css"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ user.knowledges.python.label }}</label>
				<knowledgelevels knowledge="user.knowledges.python"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ user.knowledges.django.label }}</label>
				<knowledgelevels knowledge="user.knowledges.django"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ user.knowledges.devios.label }}</label>
				<knowledgelevels knowledge="user.knowledges.devios"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ user.knowledges.devandroid.label }}</label>
				<knowledgelevels knowledge="user.knowledges.devandroid"></knowledgelevels>
			</div>
		</li>
	</ul>
</div>