<div>
	<ul>
		<li>
			<div>
				<label>{{ knowledges.knowledges.html.label }}</label>
				<knowledgelevels knowledge="knowledges.knowledges.html"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ knowledges.knowledges.css.label }}</label>
				<knowledgelevels knowledge="knowledges.knowledges.css"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ knowledges.knowledges.javascript.label }}</label>
				<knowledgelevels knowledge="knowledges.knowledges.css"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ knowledges.knowledges.python.label }}</label>
				<knowledgelevels knowledge="knowledges.knowledges.python"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ knowledges.knowledges.django.label }}</label>
				<knowledgelevels knowledge="knowledges.knowledges.django"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ knowledges.knowledges.devios.label }}</label>
				<knowledgelevels knowledge="knowledges.knowledges.devios"></knowledgelevels>
			</div>
		</li>
		<li>
			<div>
				<label>{{ knowledges.knowledges.devandroid.label }}</label>
				<knowledgelevels knowledge="knowledges.knowledges.devandroid"></knowledgelevels>
			</div>
		</li>
	</ul>
</div>